# latex
*/_minted-main*
*.aux
*.glg
*.glo
*.gls
*.ist
*.listing
*.log
*.out
*.pdf
*.thm
*.toc
*.html
*.fls
*.fdb_latexmk
# temps
*~
\#*\#
# Frama-C tests
**/.frama-c
**/.frama-c-gui.local
code/_build
code/**/oracle/dune
code/**/result
code/tests
code/cache
code/ptests_config
