*/_minted-main*
*.aux
*.glg
*.glo
*.gls
*.ist
*.listing
*.log
*.out
*.pdf
*.thm
*.toc
*.html
*~
\#*\#
code/_build
code/*/*/.frama-c
code/**/oracle/dune
code/**/result
code/tests
code/cache
code/ptests_config
